*{
    margin: center;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
   /* display: flex; /*yanyana getirme*/
    align-items: center;
    background-color: black;
    color: white;
    justify-content: space-between; /*yataydaki elemnetleir birbirinden ayır*/
}

.navbar ul{
    display: flex;
    list-style-type: none; /*noktalar gidiyor*/
    align-items: center;  /*eşitlemek*/
}

.navbar ul li a{
    text-decoration: none;  /*a ların altındaki çizgiler gitti*/
    color:white;
    
}

.logo{
    display: flex; /*yanyana getirme*/
    align-items: center;
}

.logo img{
    width: 30px;
    height: 25px;
    border-radius: 50%;
}

.linkler{

    display: flex; /*yanyana getirme*/

}

.logo a{
    background-color: black;
    color: white;
    text-decoration: none;
}

.navbar a{
    
    font-weight: bolder;  /*kalın harf*/
    padding: 6px; /*birbirinden ayrlıma durumu*/
    transition: 0.3s;
}

.navbar ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 6px;

}

.logo a:hover{
    background-color: white;
    color: black;
    border-radius: 6px;
}